body{

	background-position: top;
  	background-size: cover;
  	background-image: url("img/bgDangBai.jpg");
  
}
#select {
	margin-left: 3%;
	border-radius: 2px;

}

.require {
    color: #666;
}
label small {
    color: #999;
    font-weight: normal;
}
.nav-item a:hover
{
	color: #C4BCB0;
}
.nav-item a
{
	color: #FDF8F0;
}
