.top{
	width: 100%;
}
.main{
	margin-top:50px;
	width: 100%;
	display: flex;
	justify-content:space-around;
}
.foot{
}
.p-time {
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
}
.form{
  border: 1px solid  #d0e1e1;
  border-radius: 8px;
  height: 400px;
  width: 300px;
}
.top-form{
	text-align: center;
	margin: 0px;
	border-bottom: 1px solid  #d0e1e1;
	background: #eff5f5;
}
.center-form{
	list-style-type: circle;
	height:200px;
	width: 300px;
}
.margin{
	margin-top: 20px;
}
.bottom-form{
	background: #00b33c;
	width: 90%;
	margin-left: 5%;
	margin-bottom: 10px;
	border: 0px;
	font-size: 20px;
	height: 40px;
}