body{

	font-size: 13px;
	width: 1200px;
	margin: 0px auto;
}

.menu-top{
	background: #1949b5;
	height: 40px;
	width: 100%;
}
.topchuyenmuc{
	background: #e6e6ff;
	min-height: 400px;
  border-radius:20px; width: auto; margin-top: 20px;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px; box-sizing: inherit; line-height: 1.6em;
	height: auto; width:auto;
}
.card{margin: 10px;}

.card-text{
	background: red;
	width: 66%;
}
.card h5{
	background:#8080ff;
	display: flex;
	align-items: center;
	color: white;
	border-radius: 0px 0px 50% 0px;
	padding: 10px;
	font-size: 18px;
	float:left;
}
.carousel-caption a
{
	color: white;
	font-size: 18px;
	font-weight: bolder;
}
.carousel-caption a:hover
{
	color: yellow;
	text-decoration: underline;
}
#menu-search{
	height: 80px;
}
#banner{
	height: auto;
	width:1200px;
}
#main .left{
	width: 800px;
	float: left;
	background: #e6e6ff;
	min-height: 400px;
  border-radius:20px; width: auto; margin-top: 20px;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px; box-sizing: inherit; line-height: 1.6em;
}
#main #right{
	width: 300px;
	float: left;
	margin: 0px 0px 0px 100px;
	min-height: 400px;
}
#footer{
	background:  #cccccc;
	width: 1200px;
	text-align: center;
	height: 60px;
	color: #4d4dff;
	clear: left;
	line-height: 60px;
}
.ChangeUser{
	width: 100%;

	border: 1px solid #C0C0C0;
	border-radius: 3px;
}
.seletet{

	border-radius: 3px;
	background-image: linear-gradient(rgba(0,0,0,0.09), rgba(0,0,0,0.01));
}
.menu-top ul{
	list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;


}
.menu-top ul li{
	float: left;
}
.carousel-caption ul > li  a{
	  background-color: #333;
	display: block;
  color: white;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
}
.menu-top ul > li  a{
	  background-color: #333;
	display: block;
  color: white;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
}
.menu-top ul li a:hover{
	background-color: #111;
	color: yellow;
}



.menu-top ul li dropdown-menu
{
	background: #333;
}
#banner img{
	width: 1200px;
}
#main .left ul{
	margin: 0px;
	padding: 0px;
}
#main .left ul li{
	list-style: none;
	clear: left;
	border-bottom: 1px solid #ccc;
	float: left;
	margin-bottom: 20px;

}
#main .left ul li:hover{
	cursor: pointer;
}
#main .left ul li img{
	float:  left;
	margin-right: 10px;
	margin-bottom: 20px;
}
#main .left ul li h2{
	font-size: 16px;
	margin-top: 0px;
}
#main .left ul li h3{
	font-size: 14px;
	margin-top: 0px;
	color: #999999;
}
#main .left ul li h4{
	font-size: 12px;
	margin-top: 50px;
	color: #b3b3b3;
}
#main{
	margin-top: 10px;
}
#main  #right .menu-right ul{
	margin: -9px 0px 0px 0px;
	padding: 0px;
	border: 1px solid #ccc;
}
#main  #right .menu-right ul li{
	list-style: none;
}
#main  #right .menu-right ul li a{
	display: block;
	text-decoration: none;
	line-height: 45px;
	height: 40px;
	border-bottom: 1px solid #ccc;
	text-indent: 15px;
	font-size: 12px;
	color: #878787;
}
#main  #right .menu-right ul li a:hover{
	color: orange;
}
#main  #right .menu-right h3{
	background: #194d58 ;
	margin-top: 0px;
	font-size: 12px;
	line-height: 40px;
	color: white;
	text-indent: 25px;
}


/*design search*/
#searchbar{
	margin-bottom: 5px;
    height: 40px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    }

    #search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 20px;
    transition: width 0.4s linear;
    }

    #searchbar:hover > #search_input{
    padding: 0 10px;
    width: 250px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    #searchbar:hover > #search_icon{
    background: white;
    color: #e74c3c;
    }

    #search_icon{
    height: 20px;
    width: 20px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    }
    /*hieu ung cho image tin tuc*/
    #main .left .flip-box {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

#main .left .flip-b#main .left ox-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

#main .left .flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

#main .left .flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

#main .left .flip-box-front {
  background-color: #bbb;
  color: black;
}

#main .left .flip-box-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
.menu-top #btnlogin{
	float: right;

	width: 35px;
	height: 35px;
}
.menu-top #btnlogin #login{
	float: right;
	margin-right: -7px;
}
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.modal {
    display: none;
    display: inline-block;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 10px;

    width: 100%;
    height: 100%;
    overflow: auto;

    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);

  }

  .modalContent {
  	margin: auto;

	justify-content: center;
    align-items: center;
  	border: 2px solid black;
		background: white;
    width: 335px;
    height: 450px;
  }
	.modalContent p{
		margin:0;
		padding: 0;
		font-weight: bold;
	}

  .input_login{
  	margin-top: 20px;
  	border-radius: 5px;
		margin-bottom: 20px;
		width: 80%;
	background-image: linear-gradient(rgba(0,0,0,0.09), rgba(0,0,0,0.0001));
  }

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
.modalContent ul{

	margin: 0px;
	padding: 0px;
	align-items: center;
}
.modalContent ul li{

	outline: none;
	align-items: center;
	list-style: none;
	float: left;
	border-radius: 5px;
}

.modalContent li a{
	width: 150px;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
	display: block;
	height: 40px;
	line-height: 40px;
	padding: 0px 20px 0px 20px;
	border: 1px solid #f1f1f1;
}
.modalContent li a:hover{
	 font-weight: bold;
    color: black;
		text-decoration: none;
		background: #006699;
	}
	.modalContent > ul > li > a:focus{
		background: #006699;
	}
.modalContent button{
	font-weight: bold;
	 border: none;
	 outline: none;
	 height: 40px;
	 color: black;
	 background-color: dodgerblue;
	 font-size: 18px;
	 width: 90%;
	 border-radius: 10px;
}
.modalContent input{
	width: 90%;
	font-size: 18px;

	margin-bottom: 20px;
}
.modalContent input[type="text"], input[type="Password"]
{
	border: none;
	border-bottom: 3px solid #4d4d4d;
	background: transparent;
	outline: none;
}
.modaltesst{
	align-self: auto;
}
#modal-content a{
	outline: none;
	width: 60%;
	font-size: 12px;
	font-weight: bold;

}
#modal-content a:hover{

	background: none;
	color:dodgerblue;
}


#modal-content button:hover
{
	background: #006699;
}
#modal-content-2 button:hover
{
	background: #006699;
}
.card-text {
	color: red;
	font-style: italic;
	font-weight: 350;
	text-align: top;
}
.card-title{

	color: white;
	font-weight: 400;

	text-align: center;
	position:fixed;
	bottom:70px;
}
.fq{
	font-size: 13px;
	font-style: italic;
	font-weight: 400;
	color: red;
	display: flex;
	align-items: flex-end;
}
.tabchuyenmuc
{
	margin-top: 20px;
	height: 100%;
	width: 100%;

}
.tabchuyenmuc .tabchitiet
{
		background: #e6e6ff;
width: 90%;
height: auto;
margin: 0 auto;
min-height: 400px;
border-radius: 10px;
}
.tabchuyenmuc p
{
font-size: 15px;
margin-left: 10%;
margin-right: 10%;
text-indent: 50px;
}
.tabchuyenmuc .tabchitiet h4
{
	color: white;
	border-bottom:
}
.tabchuyenmuc .PhanTrang
{
width: 90%;
height: 50px;
margin: 0 auto;
font-weight: 600;
}
.tabchuyenmuc .PhanTrang ul
{
	margin-top: 3px;
	display: flex;
	justify-content: center;


}
.tabchuyenmuc .tabchitiet ul
{
  margin-top: 20px;
	width: 95%;
 list-style-type: none;
}
.chuyenmuc-txt
{
	background:#8080ff;
	display: flex;
	align-items: center;
	border-radius: 0px 0px 15px 15px;
	padding: 10px;
	font-size: 18px;
	margin-left: 18%;
	margin-right: 18%;
}
.chuyenmuc
{
	background:#8080ff;
	display: flex;
	align-items: center;
	border-radius: 10px 0px 15px 0px;
	padding: 10px;
	font-size: 18px;
	margin-left: 0%%;
	margin-right: 70%;
}
.hashtag{
	background:#aff7c2;
	border-radius: 5px;
	margin: 10px;
	padding: 5px;

}

.tabchuyenmuc .tabchitiet ul li
{
	padding: 10px;
  overflow: auto;
	border-bottom: 2px solid black;
	border-radius: 15px;
}
.tabchuyenmuc .tabchitiet ul li:hover
{
background: #adebeb;
}
.tabchuyenmuc .tabchitiet ul li h5
{
	font-size: 20px;
	font-style: italic;
	font-weight: 600;
}
.tabchuyenmuc .tabchitiet ul li h6
{
	font-size: 15px;
	font-weight: 400;
}

.tabchuyenmuc .tabchitiet > ul li a
{
	color: black;
	margin: 5px;
	font-size: 12px;
	font-weight: 500;
}
.tabchuyenmuc .tabchitiet ul li:hover a
{
	color: white;
}
.tabchuyenmuc .tabchitiet ul li img
{
	height: 130px;
	float: left;
 	margin: 0 15px 0 0;
}
.tabchuyenmuc .tabchitiet .PhanTrang
{
	height: auto;
	width: auto;
	display: flex;
	align-items: flex-end;
}
.comment-box{
	background: #e6e6ff;
width: 90%;
height: auto;
margin: 0 auto;
border-radius: 10px;

}
.comment-box p{
	text-indent: 50px;
}
.comment-box ul li{
	list-style-type: none;
	margin: 20px;
	-webkit-text-stroke-width: 0px;
 	background: rgb(232, 249, 244);
  	border: 1px solid rgb(142, 227, 200);
    box-sizing: border-box;
    clear: right;
    color: #181818;
}
.comment-box ul li a{
	font-weight: 500;
	margin: 20px;;
	margin-bottom: 0px;
	color: black;
}
.comment-box ul li a:hover{
	color: blue;
	text-decoration: none;
}
.img-tintuc{
	height: 50px;
	width: 150px;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
