body{
}
#top{
	height: 50px;
}
#top h1{
	text-align: center;
}
#main{
	width: 100%;
	background: #006600;
}
#main #left{
	width: 20%;
	height: auto;
	margin-bottom: 0px;
	float: left;
	background: #006600;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	margin: auto;
	border: 1px solid #006600;
}
#main #left div{
	background: #006600;
}
#main #left ul{
	float: left;
	background: #006600;
	margin: 0px 0px 0px 0px;
	width: 100%;
	height: 50px;
}
#main #left ul h1{
	font-size: 20px;
	margin: 0px 0px 0px 0px;
	/*width: 100%;*/ 
	background: #006600;
	height: 100%;
}

#main #left ul li{
	list-style: none;
	margin-top: 20px;
	margin-bottom: 20px;
	/*width: 100%;*/
	height: 100%;
}
#main #left ul li a{
	text-decoration: none;
	display: block;
	height: 100%;
}
#main #left ul li a.avtive{

}
#main #right{
	width:80%;
	min-height: 500px;
	float: left;
	background: white;
	border: 1px solid #f1f1f1;
	margin-right: 0px;
}

/*********************** Bài viết mới ***********************************/
#main #right #baivietmoi{
	/*float: left;*/
}
#main #right #baivietmoi #thongtintaikhoan h1{
	font-size: 20px;
}
#main #right #baivietmoi #thongtintaikhoan h2{
	float: left;
	font-size: 16px;
}
#main #right #baivietmoi img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 200px; height: 400px;
}
#main #right #baivietmoi #tomtat h1{
	text-align: left;
	font-size: 20px;
}
#main #right #baivietmoi #tomtat h2{
	font-size: 16px;
	font-weight: normal;
	line-height: 1.6;
}
#main #right #baivietmoi #noidung h1{
	font-size: 20px;
}
#main #right #baivietmoi #noidung h2{
	font-size: 16px;
	line-height: 1.8;
	font-weight: normal;
}
/************************************ Bài viết cũ ***************************/
/************************************ Danh sách tài khoản ************************/
.list-journalist {
	line-height: 30px;
}
/************************************ Thêm tài khoản **********************/
.style-taikhoan{
	height: 40%;
}
.img-taikhoan{
	height: 200px;
	width: 200px;
	border-radius: 50%;
	display: flex;
	margin-left: 30%;
	margin-top: 20px;
	border: 1px solid #f1f1f1;
}

/************************************ cài đặt *******************************/
